@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@property --mainColor{
    syntax: "<color>";
    inherits: true;
    initial-value: #6b705c;
 }
@property --secondaryColor{
    syntax: "<color>";
    inherits: true;
    initial-value: #fefee3;
 }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cousine;
    color: var(--mainColor);
    scroll-behavior: smooth;
    scroll-padding: 15vh;
}

html{
    font-size: 16px;
    font-family: Cousine;
}
h1{font-weight: bold;}
header{
    width: 100%;
    height: 80%;
    padding: 0.2%;
    justify-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px -4px 10px 0px black;
}
header nav{
    position: absolute;
    width: 100%;
    text-align: center;
    background: var(--mainColor);
    padding: 0.5%;
    transition: all 0.3s ease;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
}
header nav a{
    display: block;
    color: white;
    margin-left: 0;
    text-decoration: none;
    transition: all 0.4s ease;
    padding: 0.3%;
    border-radius: 5px;
}
header nav a:hover{
    background: var(--secondaryColor);
    color: var(--mainColor);
}
.hdr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro{
    width: 70%;
    text-align: center;
}
.centro h1{
    font-size: 1.3rem;
}
.centro p{
    font-size: 0.8rem;
}

header .hdr .izq{width: 20%;}
header label{
    width: 20%;
    visibility: visible;
    text-align: right;
}
header label i{
    margin-right: 15%;
}
#menu{
    display: none;
}
#menu:checked ~ nav {
    transform: scaleY(1);
}
.contenedor{
    position: relative;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.contenedor .contenido{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 30px;
}
.contenido h1{
    font-size: 1.3rem;
    width: auto;
    text-align: center;
}
.contenido .ac{
    width: 100%;
    overflow: hidden;
    padding: 20px;
    border: 2px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
}
.contenido .ac .act{
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-out, transform-origin 0.4s ease-out;
}
.contenido .ac .act:hover{
    transform: scale(2);
    cursor: zoom-in;
}
.contenido .ac .por:hover{
    transform: scale(3);
}
.contenido .ac .pok{
    width: 70%;
    max-height: 100vh;
}
.contenido .inf{
    width: 100%;
    background: var(--mainColor);
    padding: 2%;
    border-radius: 10px;
}
.contenido .inf p{
    color: white;
}
b{color: var(--secondaryColor);}
.contenido .inf ul li{
    color: white;
    padding: 1%;
}
.contenido .inf a{
    position: relative;
    background: #929b77;
    color: var(--secondaryColor);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5%;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.carousel-control-next-icon,     .carousel-control-prev-icon {
    filter: invert(100%);
}
.inf a i{
    color: var(--secondaryColor);
    transition: all 0.5s ease;
}
.inf a:hover{
    background: var(--secondaryColor);
    color: var(--mainColor);
}
.inf a:hover i{
    color: var(--mainColor);
}
.inf h2{
    color: var(--secondaryColor);
    font-size: 1rem;
    margin-top: 10px;
}
.inf p{
    margin-bottom: 10px;
}
.inf iframe{
    width: 100%;
    height: 500px;
}
.contenido .inf p, .contenido .inf ul li, .contenido .inf a{font-size: 0.8rem;}
.contenido .inf img{
    width: 100%;
    border-radius: 20px;
}

.animList li:nth-child(1) b{
    animation: colorAnim 3s infinite alternate;
}
.animList li:nth-child(2){
    animation: bganim 3s infinite alternate;
}
@keyframes colorAnim {
 0%{color: var(--secondaryColor);}   
 100%{color: #ffc9b9;}
}
@keyframes bganim {
 0%{background-color: var(--mainColor);}   
 100%{background-color: #929b77;}
}

.delay{
    width: 50%;
    height: 10vh;
    background-color: #333333;
    animation: delay 3s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 3s;
    text-align: center;
    align-content: center;
    font-size: 1rem;
}
@keyframes delay {
    0%{margin-left: 0;}
    50%{margin-left: 30%;}
    100%{margin-left: 0;}
}
footer{
    width: 100%;
    padding: 1%;
    background: var(--mainColor);
    text-align: center;
}
footer p{
    color: white;
}

.header-principal{
    height: 210px;
    width: 550px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
    z-index: 2;
    display: flex;
    background-color: var(--mainColor);
    justify-content: right;
    align-items: right;
    flex-direction: column;
    padding: 50px 15px 15px 15px;
    box-sizing: border-box;
    bottom: 0;
    right: -10%;
    transform: translate(-50%, 0%);
    animation: cookies 2s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@keyframes cookies {
    0%{
        transform: translate(-50%,100%);
    }
    100%{
        transform: translate(-50%,0%);
    }
}
.cookie1,.cookie2,.cookie3,.cookie4,.cookie5{
    height: 5px;
    height: auto;
    display: flex;
    position: absolute;
    transform: translate(-50%,-50%);
    animation: caer 4s;
}
@keyframes caer {
  0%{
        transform:translate(-50%,-260%);
    }
    40%{
        transform:translate(-50%,-260%);
    }
}
.cookie1{
   top: 10px;
   left: 10%; 
   height: 110px;
}
.cookie2{
    top: 9%;
    left: 30%;
    height: 90px;
}
.cookie3{
    top:18%;
    left: 50%;
    height: 80px;
}
.cookie4{
    top: 10%;
    left: 70%;
    height: 90px;
}
.cookie5{
    top: 0px;
    left: 90%;
    height: 110px;
}
.titulo{
    font-size: 28px;
    line-height: 28px;
    color: white;
    position: relative;
    top: 10px;
}
.info-cookie{
    text-align:center;
    margin-bottom: 1rem;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    position: relative;
    top: 20px;
}
.boton-confirm{
    margin-top: 20px;
    padding: 10px 70px;
    background-color: black;
    text-decoration: none;
    color:white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    top: 30px;
}
.segundo-boton{
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-top: 10px;
    position: relative;
    top:30px;
}

@media (min-width: 1024px) {
    .centro h1{
        font-size: 2rem;
    }
    .centro p{
        font-size: 1.1rem;
    }
    header{
    box-shadow: 0px 35px 10px 0px #000000;
    }
    header label{
        visibility: hidden;
        width: 20%;
        text-align: right;
    }
    header nav{
        position: absolute;
        width: 100%;
        text-align: center;
        background: var(--mainColor);
        transition: all 0.3s ease;
        transform: scaleY(1);
    }
    header nav a{
        display: inline;
        margin-left: 3%;
    }
    .contenido h1{
        width: 100%;
        font-size: 2rem;
    }
    .contenido .inf p, .contenido .inf ul li, .contenido .inf a{font-size: 1rem;}
    .contenido .inf ul li{
        margin-bottom: 20px;
    }
    .contenido .inf img{
        width: 50%;
    }
    .inf h2{font-size: 1.4rem;}
}
